:root {
  font-family: 'Prompt', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h4,
h5 {
  color: #363636;
}

h2 {
  font-size: 45px;
  font-weight: 600;
  line-height: 1.2;
}
h4 {
  font-size: 27px;
  font-weight: 500;
  line-height: 1.2;
}

body {
  font-weight: normal;
  font-style: normal;
  font-weight: 300;
  color: #484848;
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
  line-height: 28px;
  overflow-x: hidden;
}

.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-55 {
  margin-bottom: 55px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-60 {
  padding-bottom: 60px;
}
.pb-70 {
  padding-bottom: 70px;
}
.pt-90 {
  padding-top: 40px;
}
.pt-100 {
  padding-top: 100px;
}

.drop-shadow {
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

/* Header sections */

.section-title {
  margin-bottom: 2em;
  text-align: start;
}
span.thin {
  font-weight: 200;
  display: initial;
}
span.normal {
  font-weight: 500;
  display: initial;
}

.sub-title {
  font-size: 20px;
  line-height: 0.9;
  font-weight: 500;
}
.sub-title span.number {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sub-title span.number:after {
  content: '';
  width: 95px;
  height: 1px;
  background-color: #1c231f;
  margin: 0 0px;
}
.inner-header-section {
  padding: 32px 0px;
}
